<html>
<head>
<script type="text/javascript">
var mode = '<%- mode%>';
var skip = <%- skip%>;
var limit = <%- limit%>;
var key = <%- key%>;
if (<%- changekey%> == true) {
	key ++;
}
skip += limit;
location='<%-url %>' + 'mode=' + mode + '&skip=' + skip + '&limit=' + limit + '&key=' + key;
</script>
</head>
<body>

<%- test %>

</body>
</html>